{% extends "bootstrap/base.html" %}

{% block title %}
    DevOps
{% endblock %}

{% block head %}  <!-- 定义图标 -->
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='image/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/animate.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/animation.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/houtai.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/public.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/smartMenu.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/swiper.3.1.7.css') }}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/darkly/bootstrap.min.css">
{% endblock %}

{% block scripts %}   app/static/js/contabs.js
    {{ super() }}
    <script src="{{ url_for('static', filename='js/contabs.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.cookie.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-smartMenu-min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/maintabs.js') }}"></script>
    <script src="{{ url_for('static', filename='js/swiper.3.1.7.jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/swiper.animate1.0.2.min.js') }}"></script>
{% endblock %}

{% block navbar %} <!--上方导航-->
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">切换导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}">DevOps</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{{ url_for('main.index') }}">首页</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#">登录</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- 左侧菜单 -->
<div class="nav navbar-nav out-content" id="left_menu">
    <div class="container-left">
        <ul class="row">
             <li><a href="#">iOS</a></li>
             <li><a href="#">SVN</a></li>
             <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                   Java <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                   <li><a href="#">jmeter</a></li>
                   <li><a href="#">EJB</a></li>
                   <li><a href="#">Jasper Report</a></li>
                   <li class="divider"></li>
                   <li><a href="#">分离的链接</a></li>
                   <li class="divider"></li>
                   <li><a href="#">另一个分离的链接</a></li>
                </ul>
             </li>
        </ul>
    </div>
    <div class="container-right">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times</button>
                {{ message }}
            </div>
        {% endfor %}

        {% block page_content %}

        {% endblock %}
    </div>
</div>

{% endblock %}


