{% extends "bootstrap/base.html" %}

{% block title %}
    DevOps
{% endblock %}

{% block head %}  <!-- 定义图标 -->
{{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='image/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block navbar %} <!--导航-->
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('main.index') }}">DevOps</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{{ url_for('main.index') }}">首页</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#">登录</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block left_menu %}
<div class="container-fluid">
    <div>
        <h3>ABCD</h3>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times</button>
            {{ message }}
        </div>
    {% endfor %}

    {% block page_content %}

    {% endblock %}
</div>
{% endblock %}