{% extends "bootstrap/base.html" %}

{% block title %}
    DevOps
{% endblock %}

{% block head %}  <!-- 定义图标 -->
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='image/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/animate.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/animation.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/houtai.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/public.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/smartMenu.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/swiper.3.1.7.css') }}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/darkly/bootstrap.min.css">

    {{moment.include_jquery()}}
    {{moment.include_moment()}}
    <!--使用中文-->
    {{moment.lang('zh-CN')}}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/contabs.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.cookie.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-smartMenu-min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/maintabs.js') }}"></script>
    <script src="{{ url_for('static', filename='js/swiper.3.1.7.jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/swiper.animate1.0.2.min.js') }}"></script>
    <script type="text/javascript">
            $(function(){
                $(".ad-menu").niceScroll({cursorborder:"0 none",cursorcolor:"#1a1a19",cursoropacitymin:"0",boxzoom:false});

            })
            $("#iframe0").load(function () {
                var mainheight = $(document.body).height() - 60 + 'px'
                $(this).height(mainheight);
            });
    </script>
{% endblock %}

{% block navbar %} <!--导航-->
<div id="admin">
    <div class="ad-menu" id="ad-menu">
        <div class="ad-logo" style="width:200px">
            <div class="logo-font">
                <div style="margin-bottom: 10px">DevOps</div>
                <div>运&thinsp;&thinsp;维&thinsp;&thinsp;平&thinsp;&thinsp;台</div>
            </div>
        </div>
        <div class="ad-list">
            <ul>
                <li>
                    <div class="li-item"><em class="scm li-ico ic1"></em>节点管理
                        <span class="scm arrow"></span>
                    </div>
                    <dl>
                        <dd>
                            <a href="http://20.12.13.190:8000/index/" target="iframe_a" class="dd-item">集群管理（宿主机）<span class="scm dd-ar"></span></a>
                        </dd>

                        <dd>
                            <a href="http://20.12.13.173:3000/" target="iframe_a" class="dd-item">集群管理（虚拟机）<span class="scm dd-ar"></span></a>
                        </dd>
                    </dl>
                </li>

                <li>
                    <div class="li-item"><em class="scm li-ico ic3"></em>资源管理
                        <span class="scm arrow"></span>
                    </div>
                    <dl>
                        <dd>
                            <a href="{{ url_for('main.get_nodes') }}" target="iframe_a"  class="dd-item">Node 管理<span class="scm dd-ar"></span></a>
                        </dd>
                        <dd>
                            <a href="{{ url_for('main.get_pods') }}" target="iframe_a"  class="dd-item">Pod 管理<span class="scm dd-ar"></span></a>
                        </dd>
                        <dd>
                            <a href="https://developer.yonyoucloud.com" class="dd-item">消息通讯<span class="scm dd-ar"></span></a>
                        </dd>
                    </dl>
                </li>
                <li>
                    <div class="li-item">
                        <em class="scm li-ico ic4"></em>系统监控<span class="scm arrow"></span>

                    </div>
                    <dl>
                        <dd>
                            <a href="http://172.20.14.95:16515"   target="iframe_a"  class="dd-item">流程应用支撑<span class="scm dd-ar"></span></a>
                        </dd>
                        <dd>
                            <a href="#"   target="iframe_a"  class="dd-item">SNS应用支撑<span class="scm dd-ar"></span></a>
                        </dd>
                         <dd>
                            <a href="#"   target="iframe_a"  class="dd-item">移动应用支撑<span class="scm dd-ar"></span></a>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="ad-comment-box" id="ad-comment">
        <div class="ad-top-comment">
            <div class="ad-message">
                <div class="ad-top-left">
                    <div class="ad-change-btn"><a id="ad-list" href="javascript:;" class="scm ad-list-btn"></a></div>
                </div>
            </div>
        </div>
        <div class="ad-main-comment J_mainContent" id="ad-iframe">
           <!--  <iframe class="J_iframe" name="iframe_a" id="iframe0"  width="100%" src="image/index.jpg" frameborder="0" seamless ></iframe> -->
         <iframe class="J_iframe" name="iframe_a" id="iframe0"  width="100%" src="{{ url_for('main.get_main') }}" frameborder="0" seamless ></iframe>
        </div>
    </div>
</div>
{% endblock %}



