<!DOCTYPE html>
<html lang="cn">
    <head>
        <meta charset="UTF-8">
        <title>Node</title>
    </head>
    <body>
        <div id="node_str_json">
            {{ node }}
        </div>

    </body>
    <script type="text/javascript">
        var content = document.getElementById('node_str_json').innerText;  //获取 json 格式内容
        var result = JSON.stringify(JSON.parse(content), null, 2);         // 将字符串转换为 json 对象
        document.getElementById('node_str_json').innerText = result;
    </script>
</html>