{% extends 'node_base.html' %}

{% block title %}
    镜像
{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block page_content %}
<div>
    <table>
        <tr>
            <td style="height: 20px; width: 300px;text-align: center">名称</td>
            <td style="text-align: center">大小</td>
        </tr>
        {% for image in images.keys() %}
            <tr>
                <td class="image-limit-line" style="width: 80%; overflow: hidden; display: block; text-overflow: ellipsis; white-space: nowrap; cursor: pointer;">{{ image }} </td>
                <td style="text-align: right;">{{ images[image] }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}